<div class="wrapper wrapper-content  fadeInRight">   
    
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Customer Details</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group" id="data_1">
                        <label class="font-normal text-navy"><h5>Invoice No.</h5></label>
                        <div class="input-group date">
                            <input type="text" value="29123" disabled="" placeholder="Disabled input here..." class="form-control">
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        <label class="font-normal"><h5>To:</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>

                    <div class="form-group" id="data_2">
                        <label class="font-normal"><h5>Customer Address</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>

                    <div class="form-group" id="data_3">
                        <label class="font-normal"><h5>Invoice Date:</h5></label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="10/11/2013">
                        </div>
                    </div>

                    <div class="form-group" id="data_4">
                        <label class="font-normal"><h5>Due Date:</h5></label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="10/11/2013">
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Invoice Details</h5>
                </div>
                <div class="ibox-content">
                    
                    <div class="form-group" id="data_2">
                        <label class="font-normal"><h5>Item Name</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" id="data_2">
                        <label class="font-normal"><h5>Quantity:</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" id="data_2">
                        <label class="font-normal"><h5>Unit Price</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" id="data_2">
                        <label class="font-normal"><h5>Tax</h5></label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                   
                    <div class="form-group" id="data_2">
                        <a class="btn btn-rounded btn-block btn-success" href="#"><i class="fa fa-plus"></i> ADD ITEM</a>

                    </div>
                    
                </div>
            </div>
        </div>
            </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Added Items</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Item List</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Admin Theme with psd project layouts</td>
                            <td>2</td>
                            <td>$26.00</td>
                            <td>$5.98</td>
                            <td>$31,98</td>
                            <td class="text-center">  
                                <a class="btn">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Wodpress Them customization</td>
                            <td>2</td>
                            <td>$26.00</td>
                            <td>$5.98</td>
                            <td>$31,98</td>
                            <td class="text-center">  
                                <a class="btn">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <p>
                        <button class="btn btn-warning btn-lg " type="button"><i class="fa fa-window-close"></i> <span class="bold">Warning</span></button>
                        <button class="btn btn-primary btn-lg " type="button"><i class="fa fa-check"></i>&nbsp;Submit</button>

                    </p>
                </div>
            </div>
</div>  
</div>